<!DOCTYPE html>
<html>

<head>
	<!-- build:include parts/scripts-styles.html --><!-- /build -->
</head>

<body>

	<div class="wp-site-blocks">
		<!-- build:include parts/header.html --><!-- /build -->

		<main class="wp-block-group page-block-content">

			<div class="container mx-auto my-8 wp-block-group ">

				<h1 class="wp-block-heading alignwide" style="padding-top:var(--wp--preset--spacing--5)">Posts</h1>

				<!-- build:include patterns/index-banner-hero.html --><!-- /build -->
				<!-- build:include patterns/index-feature-cta.html --><!-- /build -->
				<!-- build:include patterns/index-content.html --><!-- /build -->
			</div>

		</main>

		<!-- build:include parts/footer.html --><!-- /build -->
	</div>
</body>

</html>